body{
	background:url(backgrounds.jpg) no-repeat;
	background-size: 110%;
	background-position: center;
}
h1{
	text-align: center;}
#circular {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  background: url(giraffe-05.jpg) no-repeat;
  background-size: 450px 300px;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;;}
#hedr{
	width:25%;
	background:#ffffff;
	margin:auto;
	padding:2px;
	border-radius:100px;
	opacity:0.8;}
#bio{
	text-align: justify;
	width: 50%;
	margin:auto;
	background:#ffffff;
	padding:10px;
	border-radius:100px;
	opacity:0.8;
 	 ;}
#arrow{
	margin:auto;
	width:96px;
	height:96px;}